.text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #1e2226;
    font-size: 16px;
    padding: 0;
    margin-bottom: 0;
    padding-top: 5px;
    height: 30px;
}

.text2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #1e2226;
    font-size: 23px;
}

#assigned {
    margin-bottom: 0;
    padding-top: 10px;
}

#refreshButtonContainer {
    position: fixed;
    bottom: -14px;
    right: 17px;
    margin: 0;
}

#refreshButton {
    width: 7.9vh;
    height: 7.9vh;
    background-color: #9bcbfb;
    background-image: url("../../assets/reload.svg");
    background-size: 3vh 3vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 0;
}

#refreshButton:hover {
    background-color: #8fbdeb;
}

button:hover {
    background-color: #8fbdeb;
}