#sideButtonCycleTrigger {
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: 4vh;
  font-size: 10px;
  text-align: center;
}

#cycleImg {
  height: 2vw;
  width: 2vw;
  background-image: url("../../../assets/play-solid-full.svg");
  background-size: 1.7vw 1.7vw;
  background-repeat: no-repeat;
  background-position: 4px 1px;
}

#stopImg {
  height: 2vw;
  width: 2vw;
  background-image: url("../../../assets/square-solid-full.svg");
  background-size: 1.7vw 1.7vw;
  background-repeat: no-repeat;
  background-position: 3px 1px;
}